<template name="editThermostat">
    <div class="modal fade">
        <div class="modal-dialog modal-md">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Thermostat Settings</h4>
                </div>

                <div class="modal-body">
                    <label for="name">Name</label>
                    <input type="text" class="tName" value="{{thermostat.name}}"/>
                    <label for="setTemperature">Set Temperature</label>
                    <input type="number" class="tSetTemp" value="{{thermostat.setTemperature}}"/>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="update">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</template>